body { color: #262626; font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif; font-size: 13px; line-height: 1.4; overflow-x: hidden; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #eee; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
::-webkit-input-placeholder { color: #898989 !important; opacity: 1 !important; }
:-moz-placeholder { color: #898989 !important; opacity: 1 !important; }
::-moz-placeholder { color: #898989 !important; opacity: 1 !important; }
:-ms-input-placeholder { color: #898989 !important; opacity: 1 !important; }
address { font-style: normal; }
blockquote { border: none; font-size: 1em; padding: 0; }

*:hover, *:visited, *:active, *:focus { outline: none; }

a { -webkit-transition: color 0.15s ease-in; -moz-transition: color 0.15s ease-in; -o-transition: color 0.15s ease-in; transition: color 0.15s ease-in; }
a:link, a:visited, a:focus { color: #e56c00; outline: none; text-decoration: none; }
a:hover { color: #000; outline: none; text-decoration: none; }

img { max-width: 100%; }
b, strong { font-weight: 700; }

.bn-1, .bn-2 { margin: 25px 0; text-align: center; }
.facebook-wrap { margin: 10px 0 25px; }

.ico-trend { background: url(../img/ico-trend.png) no-repeat 0 0; color: #aaa; font-weight: bold; margin: 10px 0; padding-left: 20px; padding-top: 1px; }

.nav-tabs > li > a { color: #333; }

.form-control { background: #fff !important; border: none; border-radius: 2px; box-shadow: none !important; height: 30px; }

.bg { background: no-repeat center center; background-size: cover; }
.bg .bgimg { display: none !important; }

.title-1 { color: #e56c00; font-size: 1.85em; font-weight: bold; margin: 40px 0 20px; text-align: center; text-transform: uppercase; }
.title-1 strong { position: relative; }
.title-1 strong:after, .title-1 strong:before { border-bottom: #e0e0e0 solid 2px; content: ""; left: -150px; margin-top: -1px; position: absolute; top: 50%; width: 100px; }
.title-1 strong:after { left: auto; right: -150px; }

.page { overflow-x: hidden; width: 100%; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.main { padding-bottom: 20px; }

.btn-1, .btn-2 { background: #fff; border: none; border-radius: 0; box-shadow: 0 0 0 1px #ccc inset; color: #969696 !important; display: inline-block; padding: 10px 20px; position: relative; text-transform: uppercase; z-index: 2; text-transform: uppercase; -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }
.btn-1:hover { box-shadow: 0 0 0 200px #ccc inset; color: #000 !important; }
.btn-2 { background: #e56c00; box-shadow: none; border-radius: 2px; color: #fff !important; font-weight: 500; text-transform: uppercase; }
.btn-2:hover { background: #000; }

.btn-facebook { background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#ebebeb 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#ebebeb 100%);
	border: #dbdbdb solid 1px; border-bottom: #2d7abb solid 4px; color: #1a1a1a !important; display: inline-block; font-size: 1.08em; font-weight: 500; min-height: 26px; padding: 10px 10px 10px 52px; position: relative; text-transform: capitalize; }
.btn-facebook:hover { background: #ebebeb; color: #3659a9 !important; }
.btn-facebook:before { background: url(../img/ico-facebook.png) no-repeat center center; border-right: #dbdbdb solid 1px; bottom: 0; content: ""; left: 0; position: absolute; top: 0; width: 45px; }


.breadcrumb { background: none; border-radius: 0; color: #333; font-size: .9em; margin: 20px 0 0; padding: 0; text-transform: capitalize; }
.breadcrumb a:link, .breadcrumb a:visited { color: #b9b9b9; }
.breadcrumb a:hover { color: #f46620; }

.imgeffect { border: #eee solid 1px; display: block; overflow: hidden; text-align: center; }
.imgeffect img { -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.imgeffect:hover img { opacity: .8; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.top-link { background: #e56c00; }
.top-link .container { padding-bottom: 10px; padding-top: 10px; position: relative; }
.top-link a:link, .top-link a:visited { color: #fff; }
.top-link a:hover { color: #000; }
.top-link ul { list-style: none; margin: 0 0 0 220px; padding: 0; text-transform: uppercase; }
.top-link ul li { float: left; padding-right: 20px; }
.top-link .logo { left: 15px; position: absolute; top: 0; width: 197px; }

/* header container */
.header-container { color: #fff; padding-top: 20px; }
.header-container a:link, .header-container a:visited { color: #fff; }
.header-container a:hover { color: #000; }
.header-container .group { margin-left: 220px; }
.header-container .head-intro { margin: 60px 0 20px; min-height: 120px; text-align: center; }
.header-container .head-intro h1 { font-size: 3.69em; font-weight: 300; line-height: 1; margin: 0 0 20px; }
.header-container .head-intro p { font-size: 1.6em; font-weight: 300; }

.quick-search { background: #fff; border-radius: 3px; float: right; margin-bottom: 10px; width: 170px; }
.quick-search .form-control { border-radius: 4px; height: 36px; }
.quick-search .btn-search { background: #e56c00 url(../img/ico-search.png) no-repeat center center; border: none; border-radius: 2px; height: 36px; width: 36px; }
.quick-search .btn-search:hover { background-color: #000; }

.category-drop { float: right; margin-bottom: 10px; margin-left: 10px; position: relative; z-index: 99; }
.category-drop .btn-cate { background: url(../img/ico-category.png) no-repeat 10px center; border: #fff solid 1px; border-radius: 3px; display: block; height: 36px; line-height: 34px; padding: 0 10px 0 30px; text-transform: uppercase; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.category-drop .btn-cate:hover { background-color: #e56c00; border-color: #e56c00; color: #fff; }
.sub-category { background: #e56c00; bottom: 0; font-size: 1.2em; overflow-y: auto; padding: 40px 20px 20px; position: fixed; right: -270px; text-transform: uppercase; top: 0; width: 250px; z-index: 99; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.sub-category ul { list-style: none; margin: 0; padding: 0; }
.sub-category ul li a { border-bottom: #ccc dotted 1px; display: block; padding: 10px 0; }
.sub-category .glyphicon-remove { font-size: 0; padding: 10px; position: absolute; top: 0; right: 0; }
.sub-category .glyphicon-remove:before { font-size: 20px; }
.category-drop .open-sub { right: 0; }

/* menu */
.menu-wrap { font-size: 1.38em; position: relative; text-transform: uppercase; z-index: 9; }
.menu-wrap .ico { display: block; }
.menu-wrap ul { list-style: none; line-height: 1.2; margin: 0; padding: 0; }
.menu-wrap nav { position: relative; }
.menu-wrap nav > ul:after, .menu-wrap nav > ul:before { background: rgba(139,198,62,.82); bottom: 0; content: ""; left: 100%; position: absolute; top: 0; width: 100%; }
.menu-wrap nav > ul:after { left: auto; right: 100%; }
.menu-wrap nav > ul { display: table; position:relative; width: 100%; }
.menu-wrap nav > ul > li { display: table-cell; padding-left: 1px; text-align: center; vertical-align: top; }
.menu-wrap nav > ul > li > a { background: rgba(139,198,62,.82); color: #fff !important; display: block; letter-spacing: 1px; padding: 10px; position: relative; z-index: 2; }
.menu-wrap nav > ul > li > a:before { background: #e56c00; bottom: 0; content: ""; left: 0; opacity: 0; position: absolute; top: 0; width: 0; z-index: -1; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.menu-wrap nav > ul > li > a:hover:before, .menu-wrap nav > ul > li.active > a:before { opacity: 1; width: 100%; }
.menu-wrap nav > ul > li:last-child { padding-right: 1px; }

/* footer */
.footer-container { background: #e56c00; color: #fff; padding: 5px 0; text-align: center; }
.footer-container a:link, .footer-container a:visited { color: #fff; }
.footer-container a:hover { color: #000; }
.footer-container ul { font-size: 0; line-height: 1; list-style: none; margin: 10px 0; padding: 0; }
.footer-container ul li { border-left: #fff solid 1px; display: inline-block; font-size: 13px; margin-bottom: 3px; padding: 0 10px; }
.footer-container ul li:first-child { border-left: none; }
.footer-container p { margin: 10px 0; }

.intro-wrap { margin-top: 40px; }
.intro h3, .intro h4 { font-size: 1.38em; margin: 5px 0; }
.intro h4 { font-size: 1.08em; }
.intro h3 a:link, .intro h3 a:visited, .intro h4 a:link, .intro h4 a:visited { color: #262626; }
.intro h3 a:hover, .intro h4 a:hover { color: #e56c00; }
.intro .date { color: #aaa; margin: 5px 0 20px; }
.intro .btn-1 { margin: 10px 0 20px; }
.intro figure, .intro .descript { float: left; margin: 20px 0; width: 28%; }
.intro .descript { padding-left: 25px; width: 72%; }
.intro .descript .ico-trend { margin-top: 0; }

.socials { font-size: 0; list-style: none; margin: 20px 0 0; padding: 0; }
.socials li { display: inline-block; margin: 5px; }
.socials li a { background: no-repeat center center; border: #fff solid 1px; border-radius: 100%; display: block; height: 32px; width: 32px; -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }
.socials li a:hover { background-color: #e56c00 ; border-color: #e56c00; }
.socials li a.icon-facebook { background-image: url(../img/ico-facebook-2.png); }
.socials li a.icon-twitter { background-image: url(../img/ico-twitter.png); }

.subscribe-form { background: url(../img/bg-subscribe-form.jpg) no-repeat center center; background-size: cover; color: #fff; font-size: 1.08em; margin: 20px 0; text-align: center; padding: 50px 20px; }
.subscribe-form h3 { font-size: 2.57em; font-weight: 300; margin: 0 0 5px; }
.subscribe-form .input-group { margin: 20px auto 30px; max-width: 510px; }
.subscribe-form .form-control { border-radius: 2px !important; height: 50px; }
.subscribe-form .input-group-btn { padding-left: 5px; }
.subscribe-form .btn-2 { font-size: 14px; height: 50px; letter-spacing: 1px; }

.relate-wrap { margin: 30px 0; }
.relate-wrap h4 { margin: 0; }
.relate-wrap ul { list-style: none; margin: 0; padding: 0; }
.relate-wrap ul li { margin: 5px 0; padding-left: 12px; position: relative; }
.relate-wrap ul li:before { background: #333; border-radius: 100%; content: ""; height: 4px; left: 0; position: absolute; top: 7px; width: 4px; }

.bnslider { margin: 0 0 20px; }

.comment-row { border-bottom: #ccc dotted 1px; padding: 30px 0; }
.comment-row figure { float: left; width: 50px; }
.comment-row .descript { margin-left: 70px; }
.comment-row .form-control { border: #ccc solid 1px; border-right: none; height: 50px; }
.comment-row .input-group-addon { padding: 0; }
.comment-row .btn { height: 48px; padding: 0 20px; }
.comment-row .btn:hover { background: #ccc; border-radius: 0 5px 5px 0; }
.comment-row .name { color: #666; margin: 0 0 10px; }
.comment-row .name span { margin: 0 10px; }
.comment-row .action { color: #666; list-style: none; margin: 15px 0 0; padding: 0; }
.comment-row .action a:link, .comment-row .action a:visited { color: #999; }
.comment-row .action a:hover { color: #000; }
.comment-row .action span { margin: 0 5px; }
.comment-row .action li { float: left; margin-right: 15px; padding-left: 15px; position: relative; }
.comment-row .action li:before { background: #ccc; border-radius: 100%; content: ""; height: 4px; left: 0; position: absolute; top: 7px; width: 4px; }
.comment-row .action li:first-child { padding-left: 0; }
.comment-row .action li:first-child:before { display: none; }
.comment-row .action .glyphicon { font-size: 0; }
.comment-row .action .glyphicon:before { font-size: 12px; }

.box-1 { margin: 20px 0; }
.box-1 h3 { background: #e56c00; border-radius: 5px 5px 0 0; color: #fff; font-size: 1.2em; margin: 0; padding: 10px; text-align: center; text-transform: uppercase; }
.box-1 .content { border: #ccc solid 1px; border-top: none; padding: 0 15px; }
.box-1 .content p { margin: 0; }
.box-1 .content ul { list-style: none; margin: 0; padding: 0; }
.box-1 .content ul li { border-bottom: #ccc dotted 1px; line-height: 1.2; padding: 10px 0; }
.box-1 .content ul li:last-child { border-bottom: none; }
.box-1 .content ul li .title { font-weight: bold; margin-bottom: 5px; }

.quick-info { color: #666; font-size: .9em; list-style: none; margin: 10px 0; padding: 0; text-transform: uppercase; }
.quick-info li { border-left: #ccc solid 1px; display: inline-block; line-height: 1; margin-bottom: 5px; padding: 0 10px; }
.quick-info li:first-child { border-left: none; padding-left: 0; }
.quick-info li.glyphicon { font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif; padding-left: 30px !important; position: relative; }
.quick-info li.glyphicon:before { font-family:'Glyphicons Halflings'; left: 10px; position: absolute; top: 0; }
.quick-info li.glyphicon:first-child { padding-left: 20px !important; }
.quick-info li.glyphicon:first-child:before { left: 0; }

.document { font-size: 1.1em; line-height: 1.6; margin-bottom: 20px; }
.document h1, .document h2 { border-bottom: #b3b3b3 solid 1px; color: #ef4023; font-size: 2.14em; font-weight: bold; margin: 0 0 20px; padding-bottom: 5px; text-transform: capitalize; }
.document h3 { font-size: 1.7em; line-height: 1.1; margin: 20px 0 0; }
.document h4 { font-size: 1.4em; margin: 20px 0 10px; }
.document p { margin: 0 0 15px; }
.document table { margin-bottom: 20px; width: 100%; }
.document table td { vertical-align: top; }


@media (max-width:992px) {
	.menu-wrap { font-size: 1.1em; }
}
@media (max-width:768px) {
	.header-container .head-intro h1 { font-size: 2.6em; }
	.header-container .head-intro p { font-size: 1.4em; }
	.menu-wrap { font-size: 1em; }
}
@media (max-width:730px) {
	.menu-wrap { font-size: .9em; }
}

@media (max-width:640px) {
	.top-link .logo { width: 100px; }
	.top-link ul, .header-container .group { margin-left: 120px; }
	.menu-wrap { font-size: .8em; }
	.menu-wrap .ico img { max-width: 40px; }
	.menu-wrap nav > ul > li > a { padding-left: 5px; padding-right: 5px; }
}

@media (max-width:560px) {
	.top-link .container { padding-bottom: 5px; padding-top: 5px; }
	.top-link .logo { width: 80px; }
	.top-link ul, .header-container .group { margin-left: 90px; }
	.top-link ul { font-size: .85em; }
	.top-link ul li { padding-right: 10px; }
	.menu-wrap { font-size: .7em; }
	.menu-wrap .ico img { max-width: 30px; }
}

@media (max-width:480px) {
	.header-container .head-intro h1 { font-size: 2.1em; }
	.header-container .head-intro p { font-size: 1.2em; }
	.menu-wrap { font-size: 0; }
	.menu-wrap .ico img { max-width: 25px; }
	.menu-wrap nav > ul > li > a { padding-left: 2px; padding-right: 2px; }
	.subscribe-form .btn-2 { padding-left: 10px; padding-right: 10px; }
	.comment-row .input-group, .comment-row .form-control, .comment-row .input-group-addon { display: block; }
	.comment-row .form-control, .comment-row .input-group-addon { border: #ccc solid 1px; border-radius: 3px !important; }
	.comment-row .input-group-addon { float: right; margin-top: 10px; padding: 0; width: auto; white-space: normal; }
}

@media (max-width:320px) {
	.intro, .intro figure, .intro .descript { width: 100%; }
	.intro .descript { margin-top: 0; padding-left: 0; }
}